{% extends "base.html" %}
{% load shopping_filters %}

{% block title %}Shopping Cart{% endblock %}

{% block header %}Shopping Cart{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Actions</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>
                <button onclick="updateItemQuantity('{{ item.id }}', -1)">-</button>
                <span id="quantity-{{ item.id }}">{{ item.quantity }}</span>
                <button onclick="updateItemQuantity('{{ item.id }}', 1)">+</button>
            </td>
            <td>{{ item.product.price }}</td>
            <td>
                <form action="{% url 'remove_from_cart' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </td>
            <td id="total-price-{{ item.id }}">{{ item.quantity|multiply:item.product.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Your shopping cart is empty</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
    var updateCartItemUrl = "{% url 'update_cart_item' %}"; // Update the URL to point to server-side code
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    
    function updateItemQuantity(itemId, change) {
        console.log('Clicked updateItemQuantity with itemId:', itemId, 'and change:', change);
        jQuery.ajax({
            url: updateCartItemUrl,  // Update the URL to point to your server-side code
            type: 'POST',
            data: {
                'item_id': itemId,
                'change': change,
                'csrfmiddlewaretoken': getCookie('csrftoken')
            },
            success: function(response) {
                if (response.success) {
                    // Update the DOM with the new quantity and the new total price
                    $('#quantity-' + itemId).text(response.new_quantity);
                    $('#total-price-' + itemId).text(response.new_total_price);
                    $('#total-amount').text(response.total_price); // Make sure to return this value from your server
                }
            },
            error: function(xhr, status, error) {
                console.error('Error updating item quantity: ' + xhr.responseText);
            }
        });
    }
    
    // Helper function to get the CSRF token from cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>

<div>
    <strong>Total Amount: </strong><span id="total-amount">{{ total_price }}</span>
    {% if request.user.is_authenticated %}
       
        <form action="{% if request.user.is_authenticated %}{% url 'checkout' %}{% else %}{% url 'user_login' %}?next={% url 'checkout' %}{% endif %}" method="get">
            {% csrf_token %}
            <button type="submit">Proceed to Checkout or back to product page</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'user_login' %}?next={% url 'checkout' %}">log in</a> to proceed to checkout. If you do not have an account, please contact the administrator to register.</p>
    {% endif %}
</div>
{% endblock %}
