{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}


<form method="post" action="{% url 'user_login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'product-modifications' %}">
    <input type="hidden" name="role" value="admin">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Admin Login</button>
</form>

<form method="post" action="{% url 'user_login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'view_cart' %}">
    <input type="hidden" name="role" value="user">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">User Login</button>
</form>
